<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CountWords</servlet-name>
        <servlet-class>countwords.src.CountWords</servlet-class>
        <init-param>
            <description>The directory location from where to pick the files containing the words.</description>
            <param-name>filePath</param-name>
            <param-value>C:\Temp\Corpus</param-value>
        </init-param>
        <init-param>
            <description>The delimeter with which the the words in the files are separated.</description>
            <param-name>delimeter</param-name>
            <param-value>","</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>CountWords</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
